<div class="row">
  <h1 class="title">Organizations</h1>
</div>
<div class="row">
  <p class="body">Please select an organization scoreboard.</p>
</div>
<div class="row">
  <% @organizations.each do |organization| %>
    <a href="#" class="large-5 columns organization">
      <h3><%= organization.name %></h3>
      <p>Currently has <%= organization.members %> members.</p>
    </a>
  <% end %>
</div>
