<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Puro</a></h1>
    </li>
  </ul>
  <section class="top-bar-section right">
    <ul>
      <li>
        <a href="#">About</a>
      </li>
    </ul>
  </section>
</nav>

<div class="row content">
  <div class="small-12 column green">
    <img src="<%= asset_path 'Octocat.png' %>" width="60%" alt="">
    <a href="/auth/github" class="large button expand">Sign in with Github</a>
    <p>Srsly, we're gonna use this for anything. Trust us</p>
  </div>
</div>